.create-task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #d8c83a;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.view-task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 1rem;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .create-task {
    display: none;
  }
}